<link rel="stylesheet" type="text/css" href="/stylesheets/drawings.css">
<div class="drawingContainer eightDrawings">
    <div id="drawing1" class="drawing"></div>
    <div id="drawing2" class="drawing"></div>
    <div id="drawing3" class="drawing"></div>
    <div id="drawing4" class="drawing"></div>
    <div id="drawing5" class="drawing"></div>
    <div id="drawing6" class="drawing"></div>
    <div id="drawing7" class="drawing"></div>
    <div id="drawing8" class="drawing"></div>
</div>