<title>Scribbltaire.io</title>
<meta charset="utf-8">

<!-- Add scripts and stylesheets that are common across all pages here -->

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous" defer></script>
<script type="text/javascript" src="/scripts/nav.js" defer></script>

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
