.drawing {
    width: 150px;
    height: 150px;
    background-color: white;
    padding: 10px;
}

.drawingContainer {
    display: inline-grid;
    grid-gap: 15px;
    padding: 15px;
    background-color: #ffd24d;
}

.twoDrawings {
    grid-template-columns: auto auto;
}

.threeDrawings {
    grid-template-columns: auto auto auto;
}

.fourDrawings {
    grid-template-columns: auto auto;
}

.sixDrawings {
    grid-template-columns: auto auto auto;
}

.eightDrawings {
    grid-template-columns: auto auto auto auto;
}

.nineDrawings {
    grid-template-columns: auto auto auto;
}
