<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/leaderboard.css">
</head>

<body>
    <center>
        <img id="headerimage" src="/assets/scribbltaireio.png">
        <h1 class="text">Leaderboard</h1>
        <div style = "background-color: black;height: 700px,width: 300px"></div>
        <button id="backToMainMenuButton" class="button">Go Back to Main Menu</button>
    </center>
    
</body>

</html>
