<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <!-- <center>
        <img id="headerimage" src="/assets/scribbltaireio.png">
        <h4 class="text">Testing</h4>
        <form type="submit" name="login" action="/login" method="post">
            <input type="text" name="username" placeholder="User Name">
            <p></p>
            <input type="password" name="password" placeholder="Password">
            <p></p>
            <button class="button">Login</button>
        </form>
        <h4 class="text">Don't have a user name?</h4>
        <button id="registerButton" type="submit" class="button">Register</button>
    </center> -->
</body>

</html>
