<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <center>
        <img id="headerimage" src="/assets/scribbltaireio.png">
        <h4 class="text" id="header1">Welcome. [insertUserName]</h4>
        <h4 class="text">Choose your gamemode</h4>
        <form type="submit">
            <button class="button">Standard</button>
        </form>
        <p></p>
        <form type="submit">
            <button class="button">Odd One Out</button>
        </form>
        <p></p>
        <form type="submit">
            <button class="button">Timed</button>
        </form>
    </center>
</body>