<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <center>
        <img id="headerimage" src="/assets/scribbltaireio.png">
        <h1 class="text">Standard Mode</h1>
        <% if (difficulty === 'easy') { %>
            <% include ../partials/6-drawing.ejs %>
        <% } else if (difficulty === 'normal') { %>
            <% include ../partials/4-drawing.ejs %>
        <% } else if (difficulty === 'hard') { %>
            <% include ../partials/3-drawing.ejs %>
        <% } else { %>
            <h1><strong>Something has gone horribly wrong</strong></h1>
        <% } %>
        <p id="oddOneOutRules" class="text">
            Rules:<br>
            Most of these drawings share the same topic, except for one<br>
            Find that picture <br>
            The game ends when you choose the wrong drawing<br>
            The highest score shall be counted
        </p>
        <button id="backToMainMenuButton" class="button">Go Back to Main Menu</button>
    </center>
    
</body>

</html>
