<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
    <script>
        let difficulty = "<%= difficulty %>";
    </script>
    <!-- <script type="text/javascript" src="/scripts/game-engine.js" defer></script> -->
    <script type="text/javascript" src="/scripts/odd-one-out.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/odd-one-out.css">
</head>

<body>
    <center>
        <img id="headerimage" src="/assets/scribbltaireio.png">
        <h1 class="text">Odd-One-Out Mode</h1>
        <% if (difficulty === 'easy') { %>
            <% include ../partials/6-drawing.ejs %>
        <% } else if (difficulty === 'normal') { %>
            <% include ../partials/4-drawing.ejs %>
        <% } else if (difficulty === 'hard') { %>
            <% include ../partials/3-drawing.ejs %>
        <% } else { %>
            <h1><strong>Something has gone horribly wrong</strong></h1>
        <% } %>
        <div id="inputSection">
            <p id="score" class="text"></p>
            <button id="playAgainButton" class="button">Play Again</button>
        </div>
        <p id="oddOneOutRules" class="text">
            Rules:<br>
            All of these drawings come from the same category... except one!<br>
            Click on the odd one out and you'll recieve a new set of drawings.<br>
            Your score increases each for each set you successfully complete.<br>
            If you guess incorrectly, then the game ends, so guess well!<br>
            The drawings are numbered according to this layout:<br><br>

            1       2       3<br>
            4       5       6<br><br>
        </p>
        <button id="backToMainMenuButton" class="button">Go Back to Main Menu</button>
    </center>
    
</body>

</html>
