<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <center>
        <img id="headerimage" src="/assets/scribbltaireio.png">
        <h1 class="text">Pass Or Fail</h1>
        <% include ../partials/1-drawing.ejs %>
        <div id="inputSection">
            <button id="playAgainButton" class="button">Play Again</button>
        </div>
        <p id="passOrFailRules" class="text">
            Rules:<br>
        </p>
        <button id="backToMainMenuButton" class="button">Go Back to Main Menu</button>
    </center>

</body>

</html>