<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
    <script type="text/javascript" src="/scripts/register.js" defer></script>
</head>

<body>
    <center>
        <img id="headerimage" src="/assets/scribbltaireio.png">
        <h4 class="text" id="header1">Welcome to scribbltaire.io!</h4>
        <h4 class="text">Enter your user information to join us</h4>
        <form id="registerForm">
            <input type="text" name="username" placeholder="User Name">
            <br>
            <input type="password" name="password" placeholder="Password">
            <br>
            <input type="password" name="passwordReconfirm" placeholder="Reconfirm Password">
            <br>
            <button type="submit" class="button">Sign Up</button>
        </form>
    </center>
</body>