<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <center>
        <img id="headerimage" src="/assets/scribbltaireio.png">
        
    </center>
</body>

</html>
