<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
    <script type="text/javascript" src="/scripts/test-draw.js" defer></script>
</head>

<body>
    <button id="getDrawingButton" type="button">Get Drawing</button> 
    <p id="word"></h1>
    <div id="drawing" style="height: 400px; width: 400px;"></div>
</body>

</html>
