<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
    <script type="text/javascript" src="/scripts/standard.js" defer></script>
</head>

<body>
    <center>
        <img id="headerimage" src="/assets/scribbltaireio.png">
        <h1 class="text">Timed Mode</h1>
        <p class="text">Timer:</p>
        <% if (difficulty === 'easy') { %>
            <% include ../partials/4-drawing.ejs %>
        <% } else if (difficulty === 'normal') { %>
            <% include ../partials/2-drawing.ejs %>
        <% } else if (difficulty === 'hard') { %>
            <% include ../partials/1-drawing.ejs %>
        <% } else { %>
            <h1><strong>Something has gone horribly wrong</strong></h1>
        <% } %>
        <div id="inputSection">
            <input id="wordInput" type="text" placeholder="Word"><button id="submitGuessButton" class="button">Guess</button>
        </div>
        <div id ="skipButton">
            <button id="submitGuessButton" class="button">Skip</button>
        </div>
        <p id="timedModeRules" class="text">
            Rules:<br>
            Guess as many drawing sets as you can in the time limit.<br>
            The quicker you guess a set, the higher more points you receive.<br>
            Incorrect guesses will not count towards your score.<br>
            You may skip a set if you are stumped, but you will lose some time as a penalty, so choose wisely.
        </p>
        <button id="backToMainMenuButton" class="button">Go Back to Main Menu</button>
    </center>
    
</body>

</html>
