<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
    <script type="text/javascript" src="/scripts/game-engine.js" defer></script>
    <script type="text/javascript" src="/scripts/word-hunt.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/standard.css">
</head>

<body>
<center>
    <img id="headerimage" src="/assets/scribbltaireio.png">
    <h1 class="text">Word Hunt Mode</h1>
    <% if (difficulty === 'easy') { %>
        <% include ../partials/3-drawing.ejs %>
    <% } else if (difficulty === 'normal') { %>
        <% include ../partials/4-drawing.ejs %>
    <% } else if (difficulty === 'hard') { %>
        <% include ../partials/6-drawing.ejs %>
    <% } else { %>
        <h1><strong>Something has gone horribly wrong</strong></h1>
    <% } %>
    <div id="inputSection">
        <p id="score" class="text"></p>
        <p id="category" class="text"></p>
        <button id="playAgainButton" class="button">Play Again</button>
    </div>
    <p id="standardModeRules" class="text">
        Rules:<br>
        At the top, you'll be given a word.<br>
        Exactly one drawing in the set will match the word, hunt it down.<br>
        If you click on the right drawing, you'll get a new word and a new set of drawings.<br>
        Your score increases with each word you successfully hunt.<br>
        The game ends if you select the wrong drawing. Good hunting!<br><br>
        The drawings are numbered according to this layout:
    </p>

    <% if (difficulty === 'hard') { %>
        <table>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
        </table>
    <% } else if (difficulty === 'normal') { %>
        <table>
            <tr>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>4</td>
            </tr>
        </table>
    <% } else if (difficulty === 'easy') { %>
        <table>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
        </table>
    <% } else { %>
        <h1><strong>Something has gone horribly wrong here too</strong></h1>
    <% } %>
    <br>
    <button id="backToMainMenuButton" class="button">Go Back to Main Menu</button>
</center>

</body>

</html>
